device_widgets:
#    ASI FW-1000:
#      type: filter_wheel
#      driver: device_widgets.filter_wheel_widget
#      module: FilterWheelWidget
    C15440-20UP:
      type: camera
      driver: device_widgets.camera_widget
      module: CameraWidget
    PCIe-6738:
      type: daq
      driver: device_widgets.ni_widget
      module: NIWidget
      init:
          tasks:
            tasks:
              ao_task:
                name: ao task
                timing:
                  trigger_mode: on
                  trigger_polarity: rising
                  trigger_port: PFI0
                  retriggerable: on
                  sample_mode: finite
                  period_time_ms: 500
                  rest_time_ms: 50
                  sampling_frequency_hz: 10000
                ports:
                  tunable lens:
                    port: ao0
                    device_min_volts: 0.0
                    device_max_volts: 5.0
                    waveform: sawtooth
                    parameters:
                      start_time_ms:
                        channels:
                          "488": 10.0
                          "561": 10.0
                          "639": 10.0
                      end_time_ms:
                        channels:
                          "488": 400.0
                          "561": 400.0
                          "639": 400.0
                      amplitude_volts:
                        channels:
                          "488": 1.0
                          "561": 1.0
                          "639": 1.0
                      offset_volts:
                        channels:
                          "488": 2.5
                          "561": 2.5
                          "639": 2.5
                      cutoff_frequency_hz:
                        channels:
                          "488": 200
                          "561": 200
                          "639": 200
                  stage:
                    port: ao1
                    device_min_volts: 0.0
                    device_max_volts: 5.0
                    waveform: square wave
                    parameters:
                      start_time_ms:
                        channels:
                          "488": 60.0
                          "561": 60.0
                          "639": 60.0
                      end_time_ms:
                        channels:
                          "488": 350.0
                          "561": 350.0
                          "639": 350.0
                      max_volts:
                        channels:
                          "488": 5.0
                          "561": 5.0
                          "639": 5.0
                      min_volts:
                        channels:
                          "488": 0.0
                          "561": 0.0
                          "639": 0.0
                  x galvo mirror:
                    port: ao2
                    device_min_volts: 0.0
                    device_max_volts: 5.0
                    waveform: triangle wave
                    parameters:
                      start_time_ms:
                        channels:
                          "488": 10.0
                          "561": 10.0
                          "639": 10.0
                      end_time_ms:
                        channels:
                          "488": 400.0
                          "561": 400.0
                          "639": 400.0
                      amplitude_volts:
                        channels:
                          "488": 1.0
                          "561": 1.0
                          "639": 1.0
                      offset_volts:
                        channels:
                          "488": 2.5
                          "561": 2.5
                          "639": 2.5
                      cutoff_frequency_hz:
                        channels:
                          "488": 200
                          "561": 200
                          "639": 200
              co_task:
                name: co task
                timing:
                  output_port: PFI0
                  frequency_hz: 2.0
                counters: [ ctr0 ]
              do_task:
                name: do task
                timing:
                  trigger_mode: on
                  trigger_polarity: rising
                  trigger_port: PFI0
                  retriggerable: on
                  sample_mode: finite
                  period_time_ms: 500
                  rest_time_ms: 50
                  sampling_frequency_hz: 10000
                ports:
                  laser:
                    port: port0
                    waveform: square wave
                    parameters:
                      start_time_ms:
                        channels:
                          "488": 100.0
                          "561": 100.0
                          "639": 100.0
                      end_time_ms:
                        channels:
                          "488": 200.0
                          "561": 200.0
                          "639": 200.0